---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Contact</Fragment>
    </Sectionhead>

    <div class="flex item-center justify-center gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-bold text-3xl text-gray-800">Contact Caruso</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Interested? We're here to help. Shoot us an email and we'll be sure to
          get back to you.
        </p>
        <div class="mt-5 justify-right">
          <!-- <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span>1734 Sanfransico, CA 93063</span> -->
        </div><div
          class="flex items-center justify-center mt-2 space-x-2 text-gray-600">
          <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
            href="mailto:carusonalstorage@gmail.com"
            >carusonalstorage@gmail.com</a
          >
          <!-- </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:phone" /><a
              href="tel:+1 (987) 4587 899">+1 (987) 4587 899</a
            >
          </div> -->
        </div>
      </div>
      <!-- <div>
        <Contactform />
      </div> -->
    </div>
  </Container>
</Layout>
