---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  {
    title: "Home",
    path: "/",
  },
  {
    title: "About",
    path: "/about",
  },
  {
    title: "Contact",
    path: "/contact",
  },
];
---

<div class="bg-secondary w-full pt-1 pb-0.5">
  <Container>
    <header class="flex flex-col lg:flex-row justify-between items-center my-5">
      <Astronav>
        <div
          class="flex w-full mb-1 lg:w-auto items-center justify-between tracking-widest font-semibold">
          <a href="/" class="text-3xl font-mono"
            ><span class="text-primary">car</span><span class="text-logopeach"
              >u</span
            ><span class="text-primary">so</span>
          </a>
          <div class="block lg:hidden">
            <MenuIcon class="w-4 h-4 text-gray-800" />
          </div>
        </div>
        <MenuItems class="hidden w-full lg:w-auto ml-40 mt-2 lg:flex lg:mt-0">
          <ul class="flex flex-col lg:flex-row lg:gap-3">
            {
              menuitems.map((item, index) => (
                <li>
                  <a
                    href={item.path}
                    class="flex lg:px-3 py-2 items-center font-mono text-lg text-gray-600 hover:text-primary hover:underline">
                    <span> {item.title}</span>
                    {/* {item.badge && (
                    <span class="ml-1 px-2 py-0.5 text-[10px] animate-pulse font-semibold uppercase text-white bg-indigo-600 rounded-full">
                      New
                    </span>
                  )} */}
                  </a>
                </li>
              ))
            }
          </ul>
          <div class="lg:hidden flex items-center mt-3 gap-4">
            <Link href="#" style="outline" block size="md">View Demo</Link>
            <Link
              href="https://demo-caruso-5c27af96ca38.herokuapp.com/"
              target="_blank"
              size="md"
              block>Login</Link
            >
          </div>
        </MenuItems>
      </Astronav>
      <div>
        <div class="hidden lg:flex items-center gap-2">
          <Link
            href="https://www.figma.com/proto/fabosVwtavjOXD8dOV1HPY/Caruso-Workflow?node-id=63-39&p=f&t=M2kRbRTMo0Jvl0H3-0&scaling=min-zoom&content-scaling=fixed&page-id=63%3A39&starting-point-node-id=63%3A40"
            target="_blank"
            style="inverted"
            size="md">View Demo</Link
          >
          <Link
            href="https://demo-caruso-5c27af96ca38.herokuapp.com/"
            target="_blank"
            size="md">Login</Link
          >
        </div>
      </div>
    </header>
  </Container>
</div>
