---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const currentPath = Astro.url.pathname;
const menuitems = [
  {
    title: "Home",
    path: "/",
  },
  {
    title: "About",
    path: "/about",
  },
  {
    title: "Contact",
    path: "/contact",
  },
];
---

<!-- <div class="bg-secondary w-full pt-1 pb-0.5"> -->
<Container>
  <div class="bg-secondary z-50 fixed top-0 left-0 w-full">
    <div class="max-w-[1280px] mx-auto px-6">
      <header class="flex flex-col lg:flex-row justify-between items-center">
        <Astronav>
          <div
            class="flex w-full mb-1 lg:w-auto items-center justify-between tracking-widest font-semibold">
            <div class="group inline-block ml-0 lg:ml-5">
              <a
                href="/"
                class="text-3xl inline-flex gap-0 items-center mt-2 font-mono transition-colors duration-300">
                <img
                  src="/logo.png"
                  alt="Karusol Logo"
                  class="h-12 w-auto mr-1 mb-2.5"
                />
                <!-- <svg class="h-12 w-12 mr-1 mb-1 display-block">
                  <use href="/favicon.svg#icon"></use>
                </svg> -->
                <span class="text-primary group-hover:text-logopeach">kar</span>
                <span class="text-logopeach">u</span>
                <span class="text-primary group-hover:text-logopeach">sol</span>
              </a>
            </div>

            <div class="block lg:hidden">
              <MenuIcon class="w-8 h-8 text-gray-800" />
            </div>
          </div>
          <MenuItems class="hidden w-full lg:w-auto ml-30 mt-2 lg:flex lg:mt-0">
            <ul class="flex flex-col lg:flex-row lg:gap-3">
              {
                menuitems.map((item, index) => (
                  <li>
                    <a
                      href={item.path}
                      class={`flex lg:px-3 py-2 items-center font-mono text-lg text-primary underline-offset-3 ${currentPath === item.path ? "underline " : ""} text-gray-600 hover:text-logopeach hover:underline`}>
                      <span> {item.title}</span>
                    </a>
                  </li>
                ))
              }
            </ul>
            <div class="lg:hidden flex flex-col justify-items-start mt-3 gap-4">
              <Link href="#" style="inverted" class="w-fit" size="md"
                >View Demo</Link
              >
              <Link href="#" size="md" class="w-fit">Login</Link>
            </div>
          </MenuItems>
        </Astronav>
        <div>
          <div class="hidden lg:flex items-center gap-2">
            <Link href="#" style="inverted" size="md">View Demo</Link>
            <Link href="#" size="md">Login</Link>
          </div>
        </div>
      </header>
    </div>
  </div>
</Container>
<!-- </div> -->
