---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "No-code, easy to use interface",
    description:
      "Analyze data without writing a single line of code. Our intuitive interface makes it easy for anyone to do data analysis.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Live, Real-Time Collaboration",
    description:
      "Work on your data simultaneously with your team — no more waiting for updates or dealing with out-of-sync files.",
    icon: "bx:bxs-user",
  },
  {
    title: "Powerful Analysis",
    description:
      "Unlock advanced analytics without the complexity. Our platform empowers you with the tools you need to extract meaningful insights—fast and efficiently.",
    icon: "bx:bxs-data",
  },
  {
    title: "Custom Scripts & Automation",
    description:
      "Integrate Python, JavaScript, or other scripting languages directly into your analysis to enhance data processing.",
    icon: "bx:bxs-chevron-right-square",
  },
  {
    title: "Efficient Cloud Storage",
    description:
      "Our optimized cloud storage solution keeps your data accessible for everyone and up to date, unnecessary local file management.",
    icon: "bx:bxs-cloud",
  },
  {
    title: "Flexible Pricing & Rewards",
    description:
      "Take advantage of our credit-based referral system and flexible pricing model, allowing teams to maximize value while keeping costs under control.",
    icon: "bx:bxs-medal",
  },
];
---

<div
  class="mt-16 md:mt-0 bg-primary p-10 pb-12 text-center w-screen mx-auto relative left-1/2 -translate-x-1/2">
  <h2 class="text-4xl lg:text-5xl text-white font-bold lg:tracking-tight">
    All-in-One Data Analysis Toolkit
  </h2>
  <p class="text-lg mt-4 text-gray-100">
    Easily explore, visualize, and interpret your data with powerful, intuitive
    tools. <br /> Streamline your workflow, collaborate in real-time, and gain insights
    faster than ever.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start ">
        <div class="mt-1 bg-gray-800 rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg text-gray-800">{item.title}</h3>{" "}
          <div class="w-15 h-0.5 bg-logopeach my-2" />
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
