---
import { Picture } from "astro:assets";
import heroImage from "assets/jelly.png";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="hidden md:block">
    <Picture
      src={heroImage}
      alt="Jellyfish!"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div class="md:order-1">
    <h1
      class="text-4xl text-gray-800 md:text-5xl lg:text-6xl xl:text-7xl font-bold">
      <span class="text-logopeach">Real-Time</span> Advanced Data Collaboration
    </h1>
    <p class="text-lg mt-4 ml-1 text-gray-600 max-w-xl">
      Collaborate like never before with <b class="text-primary"
        >real-time, no-code</b
      > data analytics! Work seamlessly with your team using a drag-and-drop, browser-based
      interface that simplifies workflows and enhances productivity.
    </p>
    <div class="mt-6 flex flex-col md:flex-row gap-3 w-full">
      <form
        name="subscribe"
        method="POST"
        data-netlify="true"
        action="/thank-you"
        class="flex flex-col sm:flex-row items-center gap-3">
        <input type="hidden" name="form-name" value="subscribe" />
        <input
          type="email"
          name="email"
          placeholder="Email"
          required
          class="w-60 p-2 pl-4 text-lg border border-gray-600 rounded-lg focus:outline-none focus:ring-2 shadow-sm focus:ring-teal-500"
        />
        <button
          type="submit"
          class="px-6 bg-accent hover:bg-secondary hover:underline text-gray-800 py-2.5 outline outline-gray-600 rounded-lg shadow-md transition-all"
          >Join Waitlist!</button
        >
      </form>
      <!-- <Link
        href="#"
        href="https://web3templates.com/templates/astroship-starter-website-template-for-astro"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="bx:bxs-cloud-download" />

        Download for Free
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/surjithctly/astroship"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-4 h-4" name="bx:bxl-github" />
        GitHub Repo
      </Link> -->
    </div>
  </div>
</main>
