---
// @ts-ignore
import { Icon } from "astro-icon/components";
---

<div class="mt-24">
  <h2 class="text-center text-gray-800">Integrates with your technology</h2>
  <!-- <div
    class="flex gap-3 md:gap-10 items-center justify-center mt-5 flex-wrap opacity-80">
    <img src="/src/assets/logoexcel.png" alt="Excel Logo" class="h-15" />
    <img src="/src/assets/logojmp.png" alt="JMP Logo" class="h-15" />
    <img src="/src/assets/logor.png" alt="R Logo" class="ml-3 h-12" />
    <img src="/src/assets/logoprism.png" alt="Prism Logo" class="ml-7 h-10" />
  </div> -->
</div>
