---
interface Props {
  href: string;
  size?: "md" | "lg";
  block?: boolean;
  style?: "outline" | "primary" | "inverted" | "muted";
  class?: string;
  [x: string]: any;
}

const {
  href,
  block,
  size = "lg",
  style = "primary",
  class: className,
  ...rest
} = Astro.props;

const sizes = {
  lg: "px-5 py-2",
  md: "px-4 py-1",
};

const styles = {
  outline:
    "bg-accent outline-1 outline-gray-800 hover:bg-primary text-gray-800",
  primary:
    "bg-primary outline outline-gray-500 text-white shadow hover:bg-accent  border-2 border-transparent",
  inverted:
    "bg-white text-primary outline outline-gray-500 hover:bg-accent hover:text-white border-2 border-transparent",
  muted: "bg-gray-100 hover:bg-gray-200   border-2 border-transparent",
};
---

<a
  href={href}
  {...rest}
  class:list={[
    "rounded-lg font-mono text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 hover:underline",
    block && "w-full",
    sizes[size],
    styles[style],
    className,
  ]}
  ><slot />
</a>
